body{
    font-family: 'Roboto', sans-serif;
   }

.introduction{
    text-align: center; 
    margin-top: 100px;
    
}
.introduction h1{
    font-size: 50px;
    line-height: -10px;   
}
.introduction h1 span{
    font-size: 70px;
}

.introduction h2{
    margin-top: -20px;
    color: #4C4C4C;
    font-size: 20px;
    margin-bottom: 80px;
}

.introduction a{
    text-decoration: none;
    padding: 20px 10px;
    flex: 1;
    
    
}
.contact-me{
    background: #6C63FF;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    

}

.about-me{
    border: 2px solid blue;
    color: #6C63FF;
    border-color: #6C63FF;
    border-radius: 4px;
    margin-left: 50px;

}

.description-section{
    text-align: center;
    margin-top: 100px;
}
.homepage{
    color: #6C63FF;
}
.description-section h1{
    font-size: 80px;
    margin-top: 10px;
}
.description-section h3{
    font-size: 24px;
    color: #4C4C4C;
    margin-top: -50px;
}

.description .first-one{
    background-color: #F5F2FE;
    width: fit-content;
    padding: 10px 20px;
    
}
.description .second-one{
    background-color: #F5F2FE;
    width: fit-content;
    padding: 10px 20px;
    margin-left: -200px;
    
    
}

.description{
    display: flex;
    margin-left: 250px;
    justify-content: space-evenly;
}


