body{
    font-family: 'Roboto', sans-serif;
   }

.introduction{
    text-align: center; 
    margin-top: 100px;
    
}
.introduction h1{
    font-size: 50px;
    line-height: -10px;   
}
.introduction h1 span{
    font-size: 70px;
}

.introduction h2{
    margin-top: -20px;
    color: rgb(112, 109, 109);
    font-size: 20px;
    margin-bottom: 80px;
}

.introduction a{
    text-decoration: none;
    padding: 20px 10px;
    flex: 1;
    
    
}
.contact-me{
    background: #6C63FF;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    

}

.about-me{
    border: 2px solid blue;
    color: #6C63FF;
    border-color: #6C63FF;
    border-radius: 4px;
    margin-left: 50px;

}




